sudo: false
language: python
cache: pip

python:
  - 3.5
  - 3.6
  - 3.7-dev
  - pypy3.3-5.2-alpha1

env:
  matrix:
    - TOXENV=flake8

matrix:
  allow_failures:
    - python: 3.7-dev
    - python: pypy3.3-5.2-alpha1

install:
  - pip install tox

script:
  - tox

before_deploy:
  - pip install wheel
  - python setup.py sdist bdist_wheel

deploy:
  - provider: pypi
    user: $PYPI_USERNAME
    password: $PYPI_PASSWORD
    on:
      tags: true
    distributions: "sdist bdist_wheel"
  - provider: releases
    api_key: $GITHUB_OAUTH_TOKEN
    file_glob: true
    file: dist/*
    skip_cleanup: true
    on:
      tags: true
    distributions: "sdist bdist_wheel"
